<div class="main-body">
    <div class="glass-body">
        <img [src]="imgUrl" style="border-radius: 20px; height: 432px; width: 600px;" alt="Game on">
        <div class="text-body">
            <h1 style="font-family: 'Aclonica';">Your Ultimate Gaming Hub</h1>
            <p>Discover top-rated games, exclusive deals, and the latest releases. Dive into immersive worlds, conquer epic challenges, and enjoy endless adventures. Join our vibrant community of gamers and elevate your gaming experience. Play, conquer, and indulge in the ultimate journey of fun and excitement!</p>
            <a [routerLink]="['/products']"><button class="explore-btn">Dive In!</button></a>
        </div>        
    </div>
</div>
