
.main-body{
    background-image: url("../../assets/home-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.glass-body{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
}
.text-body{
    padding: 10px 10px 10px 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.explore-btn{
    background-color: #0c0c0c;
    color: #f0f8ff;
    padding: 15px 30px 15px 30px;
    margin: 15px;
    cursor:pointer;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    border-radius: 30px;
    border-style: none;
}
.explore-btn:hover{
    background-image: url("../../assets/green-fire.gif");
    background-size: contain;
}