a{
    text-decoration: none;
}
.tile-main{
    display: flex;
    color: #f0f8ff;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    border-style: none;
    padding: 20px 20px 20px 20px;
    margin: 30px 15px 30px 15px;

    backdrop-filter: blur(0px) saturate(165%);
    -webkit-backdrop-filter: blur(0px) saturate(165%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.tile-main:hover{
    transform: scale(1.05);
    cursor: pointer;
}